extends layout

block content
  h2 Welcome to Book Reviews!

  p I chose the first type of web-application from the cw description.
  
  p You can share your thoughts about books you've read.
  
  .action-buttons
    a.button(href='/books') See All Book Reviews
    a.button(href='/books/new') Add a New Review