doctype html
html
  head
    title Book Reviews
    link(rel='stylesheet', href='/styles/style.css')
  body
    header
      h1 Book Reviews
      nav
        a(href='/') Home
        a(href='/books') All Book Reviews
        a(href='/books/new') Add Review
        a(href='/about') About
    main
      block content
    footer
      p This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service
    script(src='/javascripts/main.js')